.PC {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.PC .body-wrapper {
  background-color: #ffffff;
  width: 1440px;
  height: 900px;
}

.PC .body {
  position: relative;
  width: 1392px;
  height: 131px;
  top: 384px;
  left: 24px;
}

.PC .strong-tit-error {
  position: relative;
  height: 80px;
}

.PC .text-wrapper {
  height: 44px;
  top: 86px;
  left: 483px;
  color: #777777;
  font-size: 15.3px;
  letter-spacing: -1px;
  line-height: 22px;
  position: absolute;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  text-align: center;
}

.PC .div {
  height: 40px;
  top: 20px;
  left: 391px;
  color: #000000;
  font-size: 48px;
  letter-spacing: -4.2px;
  line-height: 40px;
  white-space: nowrap;
  position: absolute;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  text-align: center;
}

.floating-button {
  position: fixed;
  bottom: 20px; /* 하단 여백 */
  right: 20px; /* 우측 여백 */
  z-index: 1000;  /* 레이어 우선도 */
  color: white;  /* 글자색 */
  font-weight: bold;
  padding: 15px 20px;
  border-radius: 50px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-decoration: none;
  font-size: 16px;
  background-color: #ea3e24;  /* 배경색 */
  transition: background-color 0.3s, transform 0.3s; 
}

.floating-button:hover {
  background-color: #000000; 
  transform: scale(1.1); 
}
